@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.str-limit {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

body.scroll-disabled {
    overflow: hidden;
}